/* common shared styles*/
*{
    margin: 0px;
}
body {
  font-family: "Open Sans", serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
border-radius: 5px;
background-color: #FD6E0A;
color: white;
border: 0px;
padding: 15px 35px 15px 35px;
font-weight: 700px;
}
.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 30px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
}
/* nav related styles*/

.nav-title{
    font-size: 45px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
nav > ul{
    display: flex;
    align-items: center; 
}
nav li{
    list-style: none;
    margin: 30px;
    text-align: center;
}
nav a{
    text-decoration: none;
}

/* header related styles*/

.header{
    background-color: #FFF8F3;
    background-image: url(..//portfolio-resources/images/header_bg.png), url('../portfolio-resources/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left; 
}
.banner{
    padding: 30px 50px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;  
}
.banner .profile-pic{
    width: 500px;
}
.banner-gretting{
    font-size: 45px;
    margin-bottom: 0px;
    color: gray;
}
.banner-title{
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 15px;
}
/*Main section related style*/
main{
    max-width: 1100px;
    margin: 0px auto;
}
/*About section related style*/
.about{
    padding: 80px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 30px 0px;
}
.section-description{
    padding-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.info-title{
    text-align: center;
}
/*what-i-do-section-container*/

.what-i-do-section-container{
    margin-top: 100px;
}
#what-i-do-descrioption{
    padding-bottom: 80px;
    max-width: 1000px;  
}
.skills-container{
    display: flex;   
}
.skills{
    padding: 30px 30px 30px 30px;
    margin-left: 20px;
    background-color:#FFF8F3 ;
}
.skills-title{
font-size: 20px;
font-weight: bold;
margin-top: 15px;
}
.skills-description{
    font-size: 18px;
    line-height: 28px;
    margin-top: 15px;
}

/* Resume related style */

.section-title{
    margin: 130px 0px;
}
.resume-container{
display: flex;
}
.resume-coulmn{
    margin-right: 20px;
    text-align: left;
}
.coulmn-subtitle{
    margin-top: 15px;
    margin-bottom: 10px; 
}
.coulmn-institute, .subtitle-discription{
    margin-bottom: 15px;
    color: black;
    line-height: 28px;
}
.download-CV{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 105px;
}

/*  Footer design*/
.footer-contaner{
    display: flex;
    text-align: left;
    width: 1350px;
    height: 780px;
    background-color:#FFF8F3 ;
    
}
.footer-coloum{
    max-width:650px;
    padding-left: 110px;
    padding-top: 140px;
}
.footer-title{
    font-size: 32px;
    margin-bottom: 15px;  
}
.footer-discription{
    line-height: 28px;
}
.social-icons, img {
 padding: 5px;
}
.form, input {
    display: block;
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    padding: 20px;
}
textarea{
    width: 300px;
    height: 80px;
    padding: 20px;
    margin-bottom: 20px;
}